@model app_remesas_parcial.Models.transacciones
<div class="container">
    <form asp-controller="Registro" asp-action="Create" method="post">
        <div class="form-group">
            <label asp-for="Remitente" class="control-label">Remitente</label>
            <input asp-for="Remitente" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="Destino" class="control-label">Destino</label>
            <input asp-for="Destino" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="PaisOrigen" class="control-label">Pais de Origen</label>
            <input asp-for="PaisOrigen" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="PaisDestino" class="control-label">Pais de destino</label>
            <input asp-for="PaisDestino" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="MontoEnviado" class="control-label">Monto a enviar</label>
            <input asp-for="MontoEnviado" type="number" class="form-control" required>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="TipoMoneda">Tipo de moneda</label>
            <select required asp-for="TipoMoneda" class="form-control">
                <option asp-for="TipoMoneda" value="Dolares">Dolares (USD)</option>
                <option asp-for="TipoMoneda" value="Bitcoin">Bitcoin (BTC)</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label asp-for="Cambio" class="control-label">Cambio</label>
            <input asp-for="Cambio" type="number" step="0.01" class="form-control" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary mb-3">Enviar</button>
    </form>
</div>